.banner {
    background-image: url("./img/diagmonds--light--1920x1080.png");
}
.padding-15 {
    padding: 15px;
}
a {
    color: #000000;
}
footer {
    background-color: #84a0b8;
    color: #FFFFFF;
}